html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}
.navbar {
    margin-bottom: 30px;
    border: 0;
}
.nav{
    display: inline-block;
}
.text-muted {
    color: #fff;
    margin: 20px 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
}
a.active {
    color: black;
}

.navbar-default {
    background-color: #eee;
}

.navbar-default .navbar-nav>li>a.active {
    color: black;
}

.month {
    padding: 15px 25px;
    width: 100%;
    background: #2875C7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding: 0px;
}

.month .next {
    float: right;
    padding: 0px;
}

.year {
    padding: 35px 25px;
    width: 100%;
    background: #2875C7;
    border-radius: 6px;
}

.year ul {
    margin: 0;
    padding: 0;
}

.year ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.year .prev {
    float: left;
    padding-top: 35px;
}

.year .next {
    float: right;
    padding-top: 35px;
}

.weekdays {
    margin: 0;
    padding: 10px 0px;
    background-color: #ddd;
}

.weekdays > li {
    display: inline-block;
    width: 14.2%;
    margin: 0px;
    font-size: 28px;
    color: #666;
    text-align: center;
}

.days {
    padding: 0;
    background: #eee;
    margin: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    /*height: 85px;*/
    width: 14.2%;
    text-align: center;
    font-size:45px;
}
.days li > a {
    text-decoration: none;
    font-size: 40px;
    padding: 20px;
}

.days li > a:hover {
    text-decoration: none;
    color: #000;
    font-size: 40px;
    font-weight: 700;
}

ul.days li.active {
    padding: 5px;
    background-color: grey;
    color: #000;
}

ul.days li.event {
    padding: 5px;
    background-color: green;
    color: #000;
}

.hours {
    padding: 0;
    background: #eee;
    margin: 0;
}

.hours li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 0;
    font-size:12px;
    border-bottom: 1px solid #8c8c8c;
}
.hours li > a {
    text-decoration: none;
    font-size: 30px;
    padding: 0px 10px;
    color: #000;
}

.hours li > a:hover {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    color: #000;
}

ul.hours li.active {
    padding: 5px;
    background-color: grey;
    color: #000;
}
.yes{
    color: red;
}

label{
    margin-bottom: 0px;
}

.panel-body {
    padding: 5px 15px;
}

.panel-group .panel {
    margin-bottom: 15px;
}