<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Calendar</title>
  <link rel="stylesheet" href="css/vendor.css">
  
  <style>
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    .full button span {
      background-color: limegreen;
      border-radius: 32px;
      color: black;
    }
    .partially button span {
      background-color: orange;
      border-radius: 32px;
      color: black;
    }
    .well{
      width: 1140px;
      height: 600px;
    }
    table{
      width: 100%;
    }
    .uib-day button, .uib-month button, .uib-year button{
      height: 85px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center" ng-controller="appCtrl"><h1>{{name}}</h1></div>
      </div>
      <div class="col-lg-12">  
        <div ng-controller="DatepickerDemoCtrl">
          <pre class="text-center">Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

            <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>            
            <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
            <label>Number:</label>
            <input type="number" name="input" ng-model="period.value"/>
            <label>Date:</label>
            <input type="date" id="exampleInput" name="input" ng-model="period.date"/>            
            <hr />
            <div style="display:inline-block; min-height:290px;">
              <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/vendor.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>