		<div class="row">
            <div class="col-md-3">
                <label for="">Sort:</label>
                <input type="text" ng-model="query">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="phone in phones | filter:query">
                        <div class="thumbnail" style="height:430px;">
                            <img ng-src="{{phone.imageUrl}}" alt="" width="200px">
                            <div class="caption">
                                <h4 class="pull-right">{{phone.status ? '+':'-'}}</h4>
                                <h4><a href="/phones/{{phone.id}}">{{phone.name}}</a>
                                </h4>
                                <p>{{phone.snippet}}</p>
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>